body{
  background-color: #1a222f;
}
.row{
  background-color: white;
  padding: 15px 15px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  .user-image{
    width: 300px;
    img {
      width: 300px;
    }
  }
  .group-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    img{
      width: 30px;
    }
  }
  .group-action {
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    div{
      cursor: pointer;
      background-color: #cccccc;
      padding: 10px;
      border-right: 1px solid black;
      border-left: 1px solid black;
      width: 33.3%;
      a{
        width: 100%;
      }
    }
  }
  .list-like {
    div{
      display: flex;
      margin-bottom: 10px;
      span {
        margin-left: 10px;
      }
    }
  }

}